<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
                <div class="portrait">

                </div>
            </div>

            <ul class="menu-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        About Me
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/work">
                        Projects
                    </a>
                </li>

                <li class="nav-item current">
                    <a class="nav-link" href="/skills">
                        Skills
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        Contact Me
                    </a>
                </li>

            </ul>

        </nav>

    </header>



    <main id="skills">
        <h1 class="lg-heading">
            My <span class="text-secondary">Skills</span>
        </h1>
        <h2 class="sm-heading">
            Below are my technical skills...
        </h2>

        <div class="center">
            <h2>Software Skills</h2>
            <div class="skillBox">
                <p>Html/Css</p>
                <p>60%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 60%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>JS/Jquery/Bootstrap</p>
                <p>50%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 50%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Python Flask/Django</p>
                <p>60%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 60%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>C</p>
                <p>70%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 70%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Python</p>
                <p>75%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 75%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Object Oriented Python</p>
                <p>75%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 75%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Python GUI</p>
                <p>60%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 50%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Mysql</p>
                <p>60%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 60%"></div>
                </div>
            </div>

            <h2>Core Computer Science</h2>
            <div class="skillBox">
                <p>Computer Networking</p>
                <p>80%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 80%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Operating System</p>
                <p>85%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 85%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Database Management System</p>
                <p>70%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 70%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Algorithms</p>
                <p>70%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 70%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Theory of computation</p>
                <p>75%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 75%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Compiler Design</p>
                <p>70%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 70%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Computer Organization</p>
                <p>60%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 60%"></div>
                </div>
            </div>

            <div class="skillBox">
                <p>Engineering Maths</p>
                <p>50%</p>
                <div class="skill">
                    <div class="skill_level" style="width: 50%"></div>
                </div>
            </div>

        </div>

    </main>



    <footer id="main-footer">
        Copyright &copy; 2019
    </footer>


    <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>

</body>
</html>